In [1]:
import pandas as pd
import numpy as np
import ipaddress
from sklearn.preprocessing import LabelEncoder
import seaborn as sns
import matplotlib as plt

Wczytanie danych.

In [2]:
df1 = pd.read_csv("CSV_benign.csv", engine = 'python')
df2 = pd.read_csv("CSV_malware.csv", engine = 'python')

Ustawienie labeli, które domeny są bezpieczne (0), a które nie (1).

In [3]:
df2['Label'] = 1
df1['Label'] = 0

In [4]:
df = pd.concat([df1, df2])

In [5]:
df['Label'].value_counts(normalize=True)* 100

0    98.998465
1     1.001535
Name: Label, dtype: float64

Ok. 99% rekordów stanowią domeny bezpieczne, a 1% to domeny niebezpieczne.

In [6]:
df.columns

Index(['Country', 'ASN', 'TTL', 'IP', 'Domain', 'State', 'Registrant_Name',
       'Country.1', 'Creation_Date_Time', 'hex_32', 'hex_8', 'Domain_Name',
       'Alexa_Rank', 'subdomain', 'Organization', 'len', 'longest_word',
       'oc_32', 'shortened', '1gram', 'obfuscate_at_sign', 'entropy',
       'Domain_Age', 'tld', 'dec_8', 'dec_32', 'Emails', 'numeric_percentage',
       'puny_coded', 'typos', 'oc_8', '3gram', 'char_distribution', '2gram',
       'Registrar', 'sld', 'Name_Server_Count', 'Page_Rank', 'Label'],
      dtype='object')

Sprawdzanie typów danych w poszczególnych kolumnach.

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 499134 entries, 0 to 4998
Data columns (total 39 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   Country             389247 non-null  object
 1   ASN                 389304 non-null  float64
 2   TTL                 499134 non-null  object
 3   IP                  390538 non-null  object
 4   Domain              499134 non-null  object
 5   State               220137 non-null  object
 6   Registrant_Name     13710 non-null   object
 7   Country.1           256983 non-null  object
 8   Creation_Date_Time  366046 non-null  object
 9   hex_32              499011 non-null  object
 10  hex_8               499134 non-null  object
 11  Domain_Name         401406 non-null  object
 12  Alexa_Rank          444716 non-null  object
 13  subdomain           499118 non-null  object
 14  Organization        204029 non-null  object
 15  len                 498776 non-null  object
 16  longest_word        499001 non-null  object
 17  oc_32               499131 non-null  object
 18  shortened           497789 non-null  object
 19  1gram               499112 non-null  object
 20  obfuscate_at_sign   499134 non-null  object
 21  entropy             499130 non-null  object
 22  Domain_Age          444720 non-null  object
 23  tld                 499131 non-null  object
 24  dec_8               499124 non-null  object
 25  dec_32              499040 non-null  object
 26  Emails              326900 non-null  object
 27  numeric_percentage  498345 non-null  object
 28  puny_coded          499134 non-null  object
 29  typos               499134 non-null  object
 30  oc_8                499134 non-null  object
 31  3gram               499134 non-null  object
 32  char_distribution   499134 non-null  object
 33  2gram               498947 non-null  object
 34  Registrar           357895 non-null  object
 35  sld                 497805 non-null  object
 36  Name_Server_Count   444680 non-null  object
 37  Page_Rank           444217 non-null  float64
 38  Label               499134 non-null  int64
dtypes: float64(2), int64(1), object(36)
memory usage: 152.3+ MB

Sprawdzanie, które kolumny posiadają puste wartości. Jeżeli jest ich zbyt wiele - usuwamy kolumnę.

In [8]:
df.isna().sum()

Country               109887
ASN                   109830
TTL                        0
IP                    108596
Domain                     0
State                 278997
Registrant_Name       485424
Country.1             242151
Creation_Date_Time    133088
hex_32                   123
hex_8                      0
Domain_Name            97728
Alexa_Rank             54418
subdomain                 16
Organization          295105
len                      358
longest_word             133
oc_32                      3
shortened               1345
1gram                     22
obfuscate_at_sign          0
entropy                    4
Domain_Age             54414
tld                        3
dec_8                     10
dec_32                    94
Emails                172234
numeric_percentage       789
puny_coded                 0
typos                      0
oc_8                       0
3gram                      0
char_distribution          0
2gram                    187
Registrar             141239
sld                     1329
Name_Server_Count      54454
Page_Rank              54917
Label                      0
dtype: int64

Wyświetlenie najczęściej pojawiających się wartości w każdej z kolumn.

In [9]:
for column in df.columns:
    top_10_values = df[column].value_counts().head(10)
    print(f"Top 10 values in {column}:")
    print(top_10_values)
    print()

Top 10 values in Country:
US    209425
DE     22829
CN     19368
FR     13021
RU     12759
VG     12015
GB     10392
NL      8280
CA      7799
JP      4581
Name: Country, dtype: int64

Top 10 values in ASN:
13335.0    48930
16509.0    21925
14618.0    13629
40034.0    12972
26496.0    10904
16276.0    10454
15169.0     8985
24940.0     7743
46606.0     7302
14061.0     6498
Name: ASN, dtype: int64

Top 10 values in TTL:
299      127653
3599      77050
599       49387
14399     40654
21599     35589
59        23026
7199      18805
1799      12254
899       11596
10799      7240
Name: TTL, dtype: int64

Top 10 values in IP:
208.91.197.26      2980
208.91.197.25      2142
208.91.197.23      1303
208.91.197.127     1298
208.91.197.24      1274
184.168.131.241     988
208.91.197.128      917
23.227.38.32        914
61.164.149.197      899
204.11.56.48        656
Name: IP, dtype: int64

Top 10 values in Domain:
b'www.hugedomains.com.'              502
b'stopnote.vhostgo.com.'             156
b'www.xooit.com.'                    146
b'www.google.com.'                   144
b'www.facebook.com.'                 134
b'secure.jbs.elsevierhealth.com.'    122
b'id.elsevier.com.'                  106
b'www.gov.uk.'                        84
b'suspendeddomain.org.'               80
b'www.youtube.com.'                   74
Name: Domain, dtype: int64

Top 10 values in State:
Arizona                 20812
Panama                  10159
REDACTED FOR PRIVACY     9502
CA                       9449
California               7262
WA                       6014
FL                       5317
CO                       4680
NY                       4589
AZ                       4571
Name: State, dtype: int64

Top 10 values in Registrant_Name:
REDACTED FOR PRIVACY    1312
UK Cabinet Office        770
The JNT Association      619
WhoisGuard inc.          255
Zaini Bawi               195
Registration Private     181
WhoisGuard Protected     132
DANESCO TRADING LTD      119
Domains By Proxy         112
Ddmitry Davids            88
Name: Registrant_Name, dtype: int64

Top 10 values in Country.1:
US                      113254
CN                       20366
PA                       10327
GB                        9158
REDACTED FOR PRIVACY      8499
CA                        7852
FR                        7608
IN                        5567
BR                        5222
DE                        4653
Name: Country.1, dtype: int64

Top 10 values in Creation_Date_Time:
before Aug-1996        2843
2003-10-31 19:24:33     481
1991-01-01 00:00:00     244
2018-12-26 02:40:22     219
1997-03-29 05:00:00     213
1996-01-29 00:00:00     208
2003-03-17 12:20:05     193
1994-12-31 23:00:00     191
1995-07-29 04:00:00     186
1997-09-15 04:00:00     178
Name: Creation_Date_Time, dtype: int64

Top 10 values in hex_32:
0                      493748
0                        4999
1999-07-28 11:43:14         6
2006-03-23 12:00:53         6
2018-08-05 09:44:21         5
2007-07-09 16:16:23         5
1                           5
2017-10-14 06:01:42         5
2013-10-24 14:32:57         4
2013-10-10 17:03:18         4
Name: hex_32, dtype: int64

Top 10 values in hex_8:
0                         494108
0                           4999
0Admin-SMOLENSK.RU             6
['amac.us', 'AMAC.US']         2
0Adminn.cn                     2
0Administrator.de              2
0AdminSTATION.RU               2
0AdminXCHANGE.COM              1
0AdminSUHONOY.RU               1
0Adminico.nl                   1
Name: hex_8, dtype: int64

Top 10 values in Domain_Name:
gov.uk                            770
ac.uk                             619
HUGEDOMAINS.COM                   481
0                                 382
FACEBOOK.COM                      184
['VHOSTGO.COM', 'vhostgo.com']    178
TIMEWEB.RU                        134
ELSEVIER.COM                      123
ELSEVIERHEALTH.COM                122
edu.tw                             79
Name: Domain_Name, dtype: int64

Top 10 values in Alexa_Rank:
-1.0       147128
-1.0         3708
2384.0        232
4.0           182
1.0           110
50757.0        72
2315.0         61
5838.0         56
52.0           50
50777.0        48
Name: Alexa_Rank, dtype: int64

Top 10 values in subdomain:
0                                                              321364
1                                                              153271
0.0                                                             13362
1.0                                                              5627
0                                                                3055
1                                                                1944
-1.0                                                              134
163226.0                                                            6
Department Cmolenskoy field of information technology               6
1Administracion General de La Comunidad Autonoma de Euskadi         6
Name: subdomain, dtype: int64

Top 10 values in Organization:
REDACTED FOR PRIVACY                     24059
Domains By Proxy                         19748
WhoisGuard inc.                           9556
See PrivacyGuardian.org                   3882
Whois Privacy Service                     3032
DATA REDACTED                             2562
Domain Protection Services inc.           2402
Privacy Protect                           2222
GDPR Masked                               1459
Whois Privacy Protection Service inc.     1395
Name: Organization, dtype: int64

Top 10 values in len:
10      39879
11      39171
9       38668
8       36571
12      35997
7       32714
13      32708
14      29139
15      25301
 LLC    23754
Name: len, dtype: int64

Top 10 values in longest_word:
12        2728
13        2705
11        2578
10        2378
9         2372
14        2345
15        2181
8         2143
online    1926
16        1857
Name: longest_word, dtype: int64

Top 10 values in oc_32:
0         446633
0.0        16372
0           4998
online       203
-1.0         177
s            171
1            121
canada       104
outlet        91
news          89
Name: oc_32, dtype: int64

Top 10 values in shortened:
-1.0                                                  461809
0                                                      29474
-1.0                                                    4938
0.0                                                     1388
['t', 'a', 'x', 'a', 'd', 'm', 'i', 'n']                   8
['e', 'u', 's', 'k', 'a', 'd', 'i']                        7
['a', 'e', 'r', 'o', 'a', 'd', 'm', 'i', 'n']              6
['a', 'd', 'm', 'i', 'n']                                  5
['s', 'u', 'k', 'h', 'u', 'm', 'c', 'i', 't', 'y']         4
['a', 'd', 'm', 'i', 'n', 'l', 't', 'e']                   4
Name: shortened, dtype: int64

Top 10 values in 1gram:
-1.0                                                       30829
['g', 'o', 'o', 'g', 'l', 'e']                              1010
['h', 'u', 'g', 'e', 'd', 'o', 'm', 'a', 'i', 'n', 's']      504
['w', 'w', 'w']                                              229
['f', 'a', 'c', 'e', 'b', 'o', 'o', 'k']                     200
['y', 'a', 'h', 'o', 'o']                                    199
['v', 'h', 'o', 's', 't', 'g', 'o']                          179
0                                                            177
['u', 's']                                                   158
['b', 'e', 'e', 'g']                                         150
Name: 1gram, dtype: int64

Top 10 values in obfuscate_at_sign:
0                                                                                                                 446724
0.0                                                                                                                16372
0                                                                                                                   4999
['l', 'a', 'w']                                                                                                       38
['p', 'r', 'i', 'n', 't', '-', 'e', 's', 'h', 'o', 'p']                                                               31
['c', 'h', 'i', 'c', 'a', 'g', 'o', 't', 'r', 'i', 'b', 'u', 'n', 'e']                                                24
['g', 'b', 'c', 'i', 'n', 't', 'e', 'r', 'n', 'e', 't', 'e', 'n', 'f', 'o', 'r', 'c', 'e', 'm', 'e', 'n', 't']        20
['k', 'i', 's', 'k', 'a']                                                                                             17
['t', 'r', 'e', 'n', 'd', 's', 't', 'w', 'i', 't', 't', 'e', 'r']                                                     16
['u', 'b', 'u', 'n', 't', 'u']                                                                                        16
Name: obfuscate_at_sign, dtype: int64

Top 10 values in entropy:
0                     29475
2.15413541726763      13046
2.375                 12391
2.4063042189065182    12063
1.8575424759098895    11227
2.5954888901709436    11194
2.625                  9814
2.1205899331922318     9714
1.5                    9118
2.789735285398626      8789
Name: entropy, dtype: int64

Top 10 values in Domain_Age:
0                     81213
2.5954888901709436      693
2.375                   636
2.789735285398626       632
2.4063042189065182      552
2.723308333814104       548
2.7813014714884527      528
2.9528822923277263      483
2.625                   474
2.1205899331922318      466
Name: Domain_Age, dtype: int64

Top 10 values in tld:
com      237413
org       36577
net       18048
ru        14595
de        12747
co.uk      9148
nl         6106
fr         5564
edu        5408
it         5047
Name: tld, dtype: int64

Top 10 values in dec_8:
0         463231
com        24865
0           4999
org         2896
net         1498
ru           383
co           247
info         235
io           161
com.au       106
Name: dec_8, dtype: int64

Top 10 values in dec_32:
0                                492445
0                                  4939
1                                  1178
1                                    60
0Admin@internationaladmin.com        15
abuse@web.com                        14
0Admin@enlightendomains.co.nz        14
0.0                                  10
0Admin@juming.com                     9
0Admin-c@1api.net                     8
Name: dec_32, dtype: int64

Top 10 values in Emails:
abuse@godaddy.com                                                      46802
abuse@web.com                                                          45218
0                                                                      30878
DomainAbuse@service.aliyun.com                                          9608
ABUSE@ENOM.COM                                                          6744
supervision@xinnet.com                                                  4271
abuse@name.com                                                          3784
['abusecomplaints@markmonitor.com', 'whoisrequest@markmonitor.com']     3054
['abuse@ionos.com', 'dataprivacyprotected@1und1.de']                    2950
abuse@dynadot.com                                                       2538
Name: Emails, dtype: int64

Top 10 values in numeric_percentage:
0.0                                                                         435327
0.0                                                                           3979
abuse@godaddy.com                                                             3240
['abuse-contact@publicdomainregistry.com', 'contact@privacyprotect.org']      1575
 Admin or Other contacts of the queried domain name                           1197
14.285714285714285                                                            1088
20.0                                                                          1027
16.666666666666664                                                            1019
9.090909090909092                                                              993
12.5                                                                           977
Name: numeric_percentage, dtype: int64

Top 10 values in puny_coded:
0                     458679
0.0                    32435
0                       4996
1                        448
14.285714285714285        92
16.666666666666664        87
10.0                      86
6.25                      82
7.6923076923076925        77
6.666666666666668         74
Name: puny_coded, dtype: int64

Top 10 values in typos:
[('qq.com', 86), ('vk.com', 86)]                  87093
[('facebook.com', 86), ('twitter.com', 86)]       57759
[('google.com', 86), ('apple.com', 86)]           33638
0                                                 32581
[('apple.com', 86), ('adobe.com', 86)]            19296
[('twitter.com', 86), ('google.com', 86)]         13758
[('w3.org', 86), ('creativecommons.org', 86)]     11985
[('wordpress.org', 86), ('wikipedia.org', 86)]    11753
[('w3.org', 86), ('npr.org', 86)]                 10316
[('t.co', 86), ('bbc.co.uk', 86)]                  9409
Name: typos, dtype: int64

Top 10 values in oc_8:
0                                                 461533
[('qq.com', 86), ('vk.com', 86)]                    7131
[('facebook.com', 86), ('twitter.com', 86)]         6711
0                                                   4999
[('google.com', 86), ('apple.com', 86)]             3759
[('apple.com', 86), ('adobe.com', 86)]              2020
[('twitter.com', 86), ('google.com', 86)]           1563
[('w3.org', 86), ('npr.org', 86)]                    848
[('wordpress.org', 86), ('wikipedia.org', 86)]       824
[('w3.org', 86), ('creativecommons.org', 86)]        692
Name: oc_8, dtype: int64

Top 10 values in 3gram:
0                                                                  32087
[]                                                                  3739
['goo', 'oog', 'ogl', 'gle']                                        1010
['hug', 'uge', 'ged', 'edo', 'dom', 'oma', 'mai', 'ain', 'ins']      504
['www']                                                              229
['fac', 'ace', 'ceb', 'ebo', 'boo', 'ook']                           200
['yah', 'aho', 'hoo']                                                199
['vho', 'hos', 'ost', 'stg', 'tgo']                                  179
['xoo', 'ooi', 'oit']                                                150
['bee', 'eeg']                                                       150
Name: 3gram, dtype: int64

Top 10 values in char_distribution:
defaultdict(<class 'int'>, {'e': 1, 'o': 2, 'w': 3, 'l': 1, 'g': 2})                                                                            470
defaultdict(<class 'int'>, {'e': 1, 'o': 2, 'g': 2, 'l': 1})                                                                                    338
defaultdict(<class 'int'>, {'h': 1, 'e': 1, 'o': 1, 'a': 1, 'g': 1, 'u': 1, 'i': 1, 'd': 1, 'm': 1, 's': 1, 'w': 3, 'n': 1})                    262
defaultdict(<class 'int'>, {'d': 1, 'u': 1, 'm': 1, 'w': 3, 'a': 1, 'n': 1, 'g': 1, 'i': 1, 's': 1, 'h': 1, 'e': 1, 'o': 1})                    240
defaultdict(<class 'int'>, {'w': 3})                                                                                                            225
defaultdict(<class 'int'>, {'t': 3, 'e': 1, 's': 2, 'n': 1, 'v': 1, 'h': 1, 'p': 1, 'g': 1, 'o': 4})                                            156
defaultdict(<class 'int'>, {'e': 2, 'g': 1, 'b': 1})                                                                                            150
defaultdict(<class 'int'>, {'t': 1, 'x': 1, 'i': 1, 'o': 2, 'w': 3})                                                                            146
defaultdict(<class 'int'>, {'e': 1, 'o': 2, 'f': 1, 'k': 1, 'a': 1, 'b': 1, 'w': 3, 'c': 1})                                                    134
defaultdict(<class 'int'>, {'e': 6, 'h': 2, 'c': 1, 'r': 2, 'l': 2, 'a': 1, 'j': 1, 'u': 1, 'i': 1, 't': 1, 'b': 1, 'v': 1, '.': 1, 's': 3})    122
Name: char_distribution, dtype: int64

Top 10 values in 2gram:
['go', 'oo', 'og', 'gl', 'le']                                  1010
['hu', 'ug', 'ge', 'ed', 'do', 'om', 'ma', 'ai', 'in', 'ns']     504
['ww', 'ww']                                                     229
[]                                                               224
['fa', 'ac', 'ce', 'eb', 'bo', 'oo', 'ok']                       200
['ya', 'ah', 'ho', 'oo']                                         199
['vh', 'ho', 'os', 'st', 'tg', 'go']                             179
['us']                                                           158
['be', 'ee', 'eg']                                               150
['xo', 'oo', 'oi', 'it']                                         150
Name: 2gram, dtype: int64

Top 10 values in Registrar:
GoDaddy.com LLC                            48314
Network Solutions                          39051
NAMECHEAP INC                              13558
CSC CORPORATE DOMAINS inc.                 13056
Alibaba Cloud Computing (Beijing) Co.       9441
ENOM inc.                                   9263
RU-CENTER-RU                                7241
PDR Ltd. d/b/a PublicDomainRegistry.com     5943
Name.com inc.                               4819
MarkMonitor inc.                            4739
Name: Registrar, dtype: int64

Top 10 values in sld:
 LLC                                       50056
GoDaddy.com LLC                            22896
 Ltd.                                      10083
PDR Ltd. d/b/a PublicDomainRegistry.com     1777
Ltd.                                        1380
 Inc                                        1373
CSC CORPORATE DOMAINS inc.                  1166
Inc.                                        1017
google                                      1010
GRANSY S.R.O D/B/A SUBREG.CZ                 985
Name: sld, dtype: int64

Top 10 values in Name_Server_Count:
2.0     96876
4.0     85880
0.0     81112
8.0     21051
3.0     14792
6.0     12483
5.0      5068
12.0     3343
10.0     2465
16.0     2428
Name: Name_Server_Count, dtype: int64

Top 10 values in Page_Rank:
-1.0     344724
 2.0      62888
 4.0      22553
 3.0       4347
 8.0       2679
 6.0       2416
 5.0       1655
 0.0       1386
 12.0       527
 10.0       371
Name: Page_Rank, dtype: int64

Top 10 values in Label:
0    494135
1      4999
Name: Label, dtype: int64

Sprawdzenie ile unikalnych wartości jest w każdej z kolumn.

In [10]:
for column in df.columns:
    unique_count = df[column].nunique()
    print(f'W kolumnie {column} jest {unique_count} unikalnych wartości.')

W kolumnie Country jest 284 unikalnych wartości.
W kolumnie ASN jest 10356 unikalnych wartości.
W kolumnie TTL jest 12864 unikalnych wartości.
W kolumnie IP jest 177854 unikalnych wartości.
W kolumnie Domain jest 313538 unikalnych wartości.
W kolumnie State jest 5813 unikalnych wartości.
W kolumnie Registrant_Name jest 4202 unikalnych wartości.
W kolumnie Country.1 jest 1619 unikalnych wartości.
W kolumnie Creation_Date_Time jest 145658 unikalnych wartości.
W kolumnie hex_32 jest 123 unikalnych wartości.
W kolumnie hex_8 jest 20 unikalnych wartości.
W kolumnie Domain_Name jest 195951 unikalnych wartości.
W kolumnie Alexa_Rank jest 114287 unikalnych wartości.
W kolumnie subdomain jest 185 unikalnych wartości.
W kolumnie Organization jest 39735 unikalnych wartości.
W kolumnie len jest 514 unikalnych wartości.
W kolumnie longest_word jest 34203 unikalnych wartości.
W kolumnie oc_32 jest 7204 unikalnych wartości.
W kolumnie shortened jest 97 unikalnych wartości.
W kolumnie 1gram jest 211752 unikalnych wartości.
W kolumnie obfuscate_at_sign jest 13501 unikalnych wartości.
W kolumnie entropy jest 4306 unikalnych wartości.
W kolumnie Domain_Age jest 333588 unikalnych wartości.
W kolumnie tld jest 31785 unikalnych wartości.
W kolumnie dec_8 jest 76 unikalnych wartości.
W kolumnie dec_32 jest 163 unikalnych wartości.
W kolumnie Emails jest 44744 unikalnych wartości.
W kolumnie numeric_percentage jest 9962 unikalnych wartości.
W kolumnie puny_coded jest 185 unikalnych wartości.
W kolumnie typos jest 30268 unikalnych wartości.
W kolumnie oc_8 jest 926 unikalnych wartości.
W kolumnie 3gram jest 210746 unikalnych wartości.
W kolumnie char_distribution jest 284881 unikalnych wartości.
W kolumnie 2gram jest 229923 unikalnych wartości.
W kolumnie Registrar jest 17289 unikalnych wartości.
W kolumnie sld jest 177013 unikalnych wartości.
W kolumnie Name_Server_Count jest 50769 unikalnych wartości.
W kolumnie Page_Rank jest 30 unikalnych wartości.
W kolumnie Label jest 2 unikalnych wartości.

Usunięcie kolumn na podstawie wcześniejszych informacji.

In [11]:
df = df.drop([
    'Domain', 'Domain_Name', 'hex_32', 'hex_8', 'oc_32', 'shortened', 'obfuscate_at_sign', 'dec_8', 'dec_32', 'oc_8', 'Registrant_Name', 'Country.1', 'numeric_percentage', 'puny_coded'
], axis = 1)

Podział adresów IP na klasy.

In [12]:
def classify_ip(ip):
    try:
        ip_obj = ipaddress.IPv4Address(ip)
        if ip_obj.is_private:
            return 'Class A'
        elif ip_obj.is_multicast:
            return 'Class D'
        elif ip_obj.is_loopback:
            return 'Class E'
        else:
            first_octet = int(ip_obj.packed[0])
            if 1 <= first_octet <= 126:
                return 'Class A'
            elif 128 <= first_octet <= 191:
                return 'Class B'
            elif 192 <= first_octet <= 223:
                return 'Class C'
            else:
                return 'Class D or E'
    except ipaddress.AddressValueError:
        return 'Invalid IP'

df['IP_Class'] = df['IP'].apply(classify_ip)

In [13]:
df['IP_Class'].value_counts()

Class A       231051
Invalid IP    108622
Class C        80291
Class B        79170
Name: IP_Class, dtype: int64

Rozdzielenie kategorii z kolumny IP_Class na osobne kolumny.

In [14]:
df = pd.concat([df, pd.get_dummies(df['IP_Class']).rename(columns=lambda x: f'IP_Class_{x}')], axis=1)
df = df.drop(['IP_Class', 'IP'], axis = 1)

W kolumnach, gdzie dane powinny być numeryczne pojawiają się wartości typu string. Definiujemy funkcję, która sprawdza typ, jeżeli wartość nie jest numeryczna zamienia ją na None.

In [15]:
def convert_to_float(value):
    try:
        value = float(value)
        return value
    except (ValueError, TypeError):
        return None  

df['Alexa_Rank'] = df['Alexa_Rank'].apply(convert_to_float)
df['TTL'] = df['TTL'].apply(convert_to_float)
df['Page_Rank'] = df['Page_Rank'].apply(convert_to_float)
df['entropy'] = df['entropy'].apply(convert_to_float)
df['ASN'] = df['ASN'].apply(convert_to_float)

In [16]:
print(df['Alexa_Rank'].isna().sum())
print(df['TTL'].isna().sum())
print(df['Page_Rank'].isna().sum())
print(df['entropy'].isna().sum())
print(df['ASN'].isna().sum())

54803
24
54917
178
109830

Kolumny Alexa_Rank i Page_Rank uzupełniamy medianą z tych kolumn - te wartości powinny być całkowite, a TTL, ASN i entropy średnią.

In [17]:
df['ASN'].fillna(df['ASN'].mean(), inplace=True)
df['Alexa_Rank'].fillna(df['Alexa_Rank'].median(), inplace=True)
df['Page_Rank'].fillna(df['Page_Rank'].median(), inplace=True)
df['TTL'].fillna(df['TTL'].mean(), inplace=True)
df['entropy'].fillna(df['entropy'].mean(), inplace=True)

In [18]:
print(df['Alexa_Rank'].isna().sum())
print(df['TTL'].isna().sum())
print(df['Page_Rank'].isna().sum())
print(df['entropy'].isna().sum())
print(df['ASN'].isna().sum())

0
0
0
0
0

In [19]:
df['Creation_Date_Time'].value_counts()

before Aug-1996        2843
2003-10-31 19:24:33     481
1991-01-01 00:00:00     244
2018-12-26 02:40:22     219
1997-03-29 05:00:00     213
                       ...
2012-02-26 14:03:36       1
2006-06-06 18:56:55       1
2016-10-05 11:41:01       1
2019-04-08 06:35:48       1
2018-04-29 22:00:48       1
Name: Creation_Date_Time, Length: 145658, dtype: int64

Z kolumny Creation_Date_Time ,,wyciągamy'' rok.

In [20]:
def apply_rules(date):
    if isinstance(date, str) and date == 'before Aug-1996':
        return date
    elif isinstance(date, str):
        return date[:4]
    else:
        return date.strftime('%Y') if isinstance(date, pd.Timestamp) else None

df['Creation_Date_Year'] = df['Creation_Date_Time'].apply(apply_rules)

In [21]:
df['Creation_Date_Year'].unique()

array(['1997', None, '2005', '2000', '2002', '2004', '2001', '1987',
       '1986', '2016', '1999', '2003', '1994', '1995', '2007', '1998',
       '1991', '2010', '1993', 'before Aug-1996', '2006', '1988', '1996',
       '1989', '2008', '1992', '2009', '1990', '2014', '2012', '2013',
       '2011', '2019', '2015', '2018', '2017', '2020', 'GB', '0', 'US',
       ' VA.', 'ES', 'UK', '1985', 'TW', 'CN', "['CZ", 'VG', 'KR', 'MY',
       ' Rep', 'PH', 'VN', 'RU', 'AU', 'ID', 'TR', 'CZ', 'RO', 'NG',
       "['SK", 'PK'], dtype=object)

In [22]:
replace_values = ['GB', '0', 'US', ' VA.', 'ES', 'UK', 'TW', 'CN', "['CZ", 'VG', 'KR', 'MY',
                   ' Rep', 'PH', 'VN', 'RU', 'AU', 'ID', 'TR', 'CZ', 'RO', 'NG', "['SK", 'PK'] 
df['Creation_Date_Year'] = df['Creation_Date_Year'].apply(lambda x: None if x in replace_values else x)

Jeżeli wartość to 'before Aug-1996' to przypisujemy wartość 1995.

In [23]:
df['Creation_Date_Year'] = df['Creation_Date_Year'].replace('before Aug-1996', '1995')

Definiujemy 5 kategorii do których następnie dopisujemy wartości. Kategorie dzielimy na osobne kolumny.

In [24]:
bin_edges = [1000, 1996, 2003, 2009, 2015, 9999] 
bin_labels = ['before 1996', '1997-2002', '2003-2008', '2009-2014', '2015-now']
df['Creation_Date_Year'] = pd.cut(df['Creation_Date_Year'].astype(float), bins=bin_edges, labels=bin_labels, include_lowest=True)

df = pd.concat([df, pd.get_dummies(df['Creation_Date_Year']).rename(columns=lambda x: f'Creation_Year_{x}')], axis=1)
df = df.drop(['Creation_Date_Year', 'Creation_Date_Time'], axis = 1)

In [25]:
df['Country'].value_counts().head(10)

US    209425
DE     22829
CN     19368
FR     13021
RU     12759
VG     12015
GB     10392
NL      8280
CA      7799
JP      4581
Name: Country, dtype: int64

W kolumnie Country USA stanowi ponad 200 000 rekordów, zatem jeżeli wartość to 'US' to przypisujemy wartość 1, w przeciwnym razie przypisujemy 0. Zmieniamy nazwę kolumny na Country_US.

In [26]:
df['Country'] = df['Country'].apply(lambda x: 1 if x == 'US' else 0)
df = df.rename(columns={"Country": "Country_US"})

In [27]:
df['State'].value_counts(normalize=True).head(10)*100

Arizona                 9.454113
Panama                  4.614853
REDACTED FOR PRIVACY    4.316403
CA                      4.292327
California              3.298855
WA                      2.731935
FL                      2.415314
CO                      2.125949
NY                      2.084611
AZ                      2.076434
Name: State, dtype: float64

In [28]:
df = df.drop(['State'], axis = 1)

In [29]:
df['subdomain'].value_counts().head(15)

0                                                              321364
1                                                              153271
0.0                                                             13362
1.0                                                              5627
0                                                                3055
1                                                                1944
-1.0                                                              134
163226.0                                                            6
Department Cmolenskoy field of information technology               6
1Administracion General de La Comunidad Autonoma de Euskadi         6
60416.0                                                             6
180698.0                                                            5
94319.0                                                             5
1075134.0                                                           4
6699514.0                                                           4
Name: subdomain, dtype: int64

Wyżej widać, że wartości 0 i 1 są najpopularniejsze, lecz mają różne zapisy. Definiujemy słownik i przypisujemy dane do odpowiednich wartości.

In [30]:
df['subdomain'] = df['subdomain'].replace({'0': 0, '0.0': 0, '1': 1, '1.0': 1})
df['subdomain'] = df['subdomain'].apply(lambda x: None if x not in (0, 1) else x)
df['subdomain'].value_counts()

0.0    337781
1.0    160842
Name: subdomain, dtype: int64

In [31]:
df['subdomain'].isna().sum()

511

Usuwamy puste wartości - jest ich tylko 511.

In [32]:
df = df.dropna(subset=['subdomain'])

In [33]:
df['Organization'].value_counts(normalize=True).head(20)*100

REDACTED FOR PRIVACY                              11.821559
Domains By Proxy                                   9.703319
WhoisGuard inc.                                    4.695408
See PrivacyGuardian.org                            1.907448
Whois Privacy Service                              1.489795
DATA REDACTED                                      1.258857
Domain Protection Services inc.                    1.180240
Privacy Protect                                    1.091795
GDPR Masked                                        0.716890
Whois Privacy Protection Service inc.              0.685443
Proxy Protection LLC                               0.673650
HugeDomains.com                                    0.541967
Whois protection                                   0.470229
THE ENDURANCE INTERNATIONAL GROUP inc.             0.459910
Whois Privacy Corp.                                0.433377
DANESCO TRADING LTD.                               0.363604
Whoisprotection.cc                                 0.340510
1&1 Internet Inc                                   0.318399
Whois Privacy Protection Service by onamae.com     0.296288
['Data Protected', 'REDACTED FOR PRIVACY']         0.242239
Name: Organization, dtype: float64

Wybieramy 3 najpopularniejsze wartości w kolumnie Organization, wartości dopisujemy do jednej z nich lub do klasy others.

In [34]:
organizations = ['REDACTED FOR PRIVACY', 'Domains By Proxy', 'WhoisGuard inc.']
df['Organization'] = df['Organization'].apply(lambda x: x if x in organizations else 'other')

In [35]:
df['Organization'].value_counts(normalize=True)*100

other                   89.297926
REDACTED FOR PRIVACY     4.825088
Domains By Proxy         3.960507
WhoisGuard inc.          1.916478
Name: Organization, dtype: float64

Klasy dzielimy na kolumny.

In [36]:
df = pd.concat([df, pd.get_dummies(df['Organization']).rename(columns=lambda x: f'Organization_{x}')], axis=1)
df = df.drop(['Organization'], axis = 1)

In [37]:
df['len'].value_counts()

10                                     39879
11                                     39171
9                                      38668
8                                      36571
12                                     35997
                                       ...
Ministry                                   1
Lda.                                       1
25Administraci                             1
 Architecture and Design'                  1
 British and Irish Lions and Pro 12        1
Name: len, Length: 427, dtype: int64

In [38]:
def convert_to_int(value):
    try:
        value = int(value)
        return value
    except (ValueError, TypeError):
        return None  
df['len'] = df['len'].apply(convert_to_int)

In [39]:
df['len'].isna().sum()

30543

Uzupełniamy puste wartości medianą z kolumny len.

In [40]:
df['len'].fillna(df['len'].median(), inplace=True)

In [41]:
df['longest_word'].value_counts().head(30)

12          2699
13          2679
11          2546
10          2349
9           2346
14          2335
15          2165
8           2104
online      1926
16          1841
s           1677
17          1602
7           1489
news        1433
18          1368
google      1112
19          1085
e           1029
6            976
world        933
group        908
tech         863
xn           845
20           831
t            816
net          785
health       763
media        746
5            743
business     741
Name: longest_word, dtype: int64

In [42]:
longest_word  = ['google', 'online', 'news', 'world', 'group', 'tech', 'net', 'health', 'media', 'business']
df['longest_word'] = df['longest_word'].apply(lambda x: x if x in longest_word else 'other')

In [43]:
df['longest_word'].value_counts()

other       488413
online        1926
news          1433
google        1112
world          933
group          908
tech           863
net            785
health         763
media          746
business       741
Name: longest_word, dtype: int64

Ta kolumna według opisu danych powinna posiadać najdłuższy wyraz, czyli string, a w większości posiada prawdopodobnie długość najdłuższego wyrazu. Próbując podzielić ją na najpopularniejsze wyrazy w kategorii other jest 488000 wartości, więc taki podział nie ma sensu. Usuwamy kolumnę.

In [44]:
df = df.drop(['longest_word'], axis = 1)

In [45]:
df['Domain_Age'].unique()

array(['8256 days 11:53:49.631067', '8256 days 11:53:50.479085',
       '8256 days 11:53:51.264191', ..., '1440 days 14:10:21.826624',
       '1440 days 14:10:23.343224', '1440 days 14:10:24.246772'],
      dtype=object)

Z wartości z kolumny Domain_Age wydobywamy wartość numeryczną - liczbę dni.

In [46]:
df['Domain_Age'] = df['Domain_Age'].str.extract(r'(\d+)').fillna(0).astype(int)

In [47]:
df['Domain_Age'].value_counts()

0        135704
2         17383
3         11362
1          1848
1493        892
          ...
9351          1
10974         1
10728         1
9378          1
9856          1
Name: Domain_Age, Length: 10305, dtype: int64

In [48]:
df['Domain_Age'].isna().sum()

0

In [49]:
df['tld'].value_counts(normalize=True).head(10)*100

com      47.612324
org       7.335001
net       3.619568
ru        2.927061
de        2.556440
co.uk     1.834653
nl        1.224572
fr        1.115873
edu       1.084587
it        1.012188
Name: tld, dtype: float64

W kolumnie tld połowę wartości to 'com'. Dzielimy wartości na 'com' i na inne przypisując do 'com' wartość 1, a do pozostałych 0.

In [50]:
df['tld'] = df['tld'].apply(lambda x: 1 if x == 'com' else 0)
df = df.rename(columns={"tld": "tld_com"})

In [51]:
df['Emails'].value_counts(normalize=True).head(10)*100

abuse@godaddy.com                                                      14.338412
abuse@web.com                                                          13.854021
0                                                                       9.340388
DomainAbuse@service.aliyun.com                                          2.943727
ABUSE@ENOM.COM                                                          2.066246
supervision@xinnet.com                                                  1.308561
abuse@name.com                                                          1.159353
['abusecomplaints@markmonitor.com', 'whoisrequest@markmonitor.com']     0.935693
['abuse@ionos.com', 'dataprivacyprotected@1und1.de']                    0.903829
abuse@dynadot.com                                                       0.777600
Name: Emails, dtype: float64

Nie do końca wiadomo jak interpretować wartość 0 w tym przypadku, prawdopodobnie nie ma przypisanego emaila. Dzielimy te dane na abuse@godaddy.com, abuse@web.com oraz inne.

In [52]:
emails  = ['abuse@godaddy.com', 'abuse@web.com']
df['Emails'] = df['Emails'].apply(lambda x: x if x in emails else 'other')

In [53]:
df['Emails'].value_counts()

other                406606
abuse@godaddy.com     46799
abuse@web.com         45218
Name: Emails, dtype: int64

Kategorie dzielimy na kolumny.

In [54]:
df = pd.concat([df, pd.get_dummies(df['Emails']).rename(columns=lambda x: f'Email_{x}')], axis=1)
df = df.drop(['Emails'], axis = 1)

In [55]:
df['Registrar'].value_counts(normalize=True).head(10)*100

GoDaddy.com LLC                            13.517839
Network Solutions                          10.926810
NAMECHEAP INC                               3.793647
CSC CORPORATE DOMAINS inc.                  3.651504
Alibaba Cloud Computing (Beijing) Co.       2.641674
ENOM inc.                                   2.591868
RU-CENTER-RU                                2.026095
PDR Ltd. d/b/a PublicDomainRegistry.com     1.662903
Name.com inc.                               1.348398
MarkMonitor inc.                            1.326014
Name: Registrar, dtype: float64

Podobnie jak wcześniej wartości dzielimy na wyróżniające się, najpopularniejsze dwie pierwsze wartości 'GoDaddy.com LLC' oraz 'Network Solutions', a resztę dopisujemy do others.

In [56]:
registrar  = ['GoDaddy.com LLC', 'Network Solutions']
df['Registrar'] = df['Registrar'].apply(lambda x: x if x in registrar else 'other')

In [57]:
df['Registrar'].value_counts()

other                411261
GoDaddy.com LLC       48311
Network Solutions     39051
Name: Registrar, dtype: int64

Rozdzielamy kategorie na kolumny.

In [58]:
df = pd.concat([df, pd.get_dummies(df['Registrar']).rename(columns=lambda x: f'Registrar_{x}')], axis=1)
df = df.drop(['Registrar'], axis = 1)

In [59]:
df['sld'].value_counts(normalize=True).head(10)*100

 LLC                                       10.065068
GoDaddy.com LLC                             4.577097
 Ltd.                                       2.027451
PDR Ltd. d/b/a PublicDomainRegistry.com     0.355704
Ltd.                                        0.277485
 Inc                                        0.276078
CSC CORPORATE DOMAINS inc.                  0.234455
Inc.                                        0.204494
google                                      0.203087
GRANSY S.R.O D/B/A SUBREG.CZ                0.197457
Name: sld, dtype: float64

In [60]:
sld  = [' LLC', 'GoDaddy.com LLC', ' Ltd.']
df['sld'] = df['sld'].apply(lambda x: x if x in sld else 'other')

In [61]:
df['sld'].value_counts()

other              415721
 LLC                50056
GoDaddy.com LLC     22763
 Ltd.               10083
Name: sld, dtype: int64

Można tę kolumnę dokładniej zmienić ponieważ widać, że niektóre wartości to to samo, tylko inaczej zapisane np. ' LLC', 'LLC'. W tym przypadku warto byłoby dokładniej przejrzeć wartości i połączyć ze sobą te które się da.

In [62]:
df = pd.concat([df, pd.get_dummies(df['sld']).rename(columns=lambda x: f'SLD_{x}')], axis=1)
df = df.drop(['sld'], axis = 1)

In [63]:
df['Name_Server_Count'].unique()

array(['8.0', '4.0', nan, ..., 38.0, 13.0, 28.0], dtype=object)

In [64]:
def try_convert_to_float(value):
    try:
        value = float(value)
        return value
    except (ValueError, TypeError):
        return None 

df['Name_Server_Count'] = df['Name_Server_Count'].apply(try_convert_to_float)

In [65]:
df['Name_Server_Count'].isna().sum()

153179

Uzupełniamy brakujące dane medianą z kolumny.

In [66]:
df['Name_Server_Count'].fillna(df['Name_Server_Count'].median(), inplace=True)

In [67]:
df['typos'].value_counts(normalize=True).head(20)*100

[('qq.com', 86), ('vk.com', 86)]                       17.466503
[('facebook.com', 86), ('twitter.com', 86)]            11.583702
[('google.com', 86), ('apple.com', 86)]                 6.744976
0                                                       6.436326
[('apple.com', 86), ('adobe.com', 86)]                  3.869858
[('twitter.com', 86), ('google.com', 86)]               2.759199
[('w3.org', 86), ('creativecommons.org', 86)]           2.403620
[('wordpress.org', 86), ('wikipedia.org', 86)]          2.356490
[('w3.org', 86), ('npr.org', 86)]                       2.068898
[('t.co', 86), ('bbc.co.uk', 86)]                       1.886997
[('php.net', 86), ('a8.net', 86)]                       1.483084
[('t.co', 90), ('qq.com', 86)]                          1.262477
[('facebook.com', 86), ('instagram.com', 86)]           1.121890
[('w3.org', 86), ('mozilla.org', 86)]                   1.119082
[('mail.ru', 86), ('ok.ru', 86)]                        0.965860
[('miitbeian.gov.cn', 86), ('miibeian.gov.cn', 86)]     0.938785
[('t.co', 90), ('facebook.com', 86)]                    0.861773
[('slideshare.net', 86), ('doubleclick.net', 86)]       0.734222
[('google.de', 86), ('e-recht24.de', 86)]               0.709354
[('yandex.ru', 86), ('mail.ru', 86)]                    0.705343
Name: typos, dtype: float64

In [68]:
popular_typos = df['typos'].str.extract(r"\('([^']+)', \d+\)").stack().value_counts().head(15).index

In [69]:
popular_typos

Index(['qq.com', 'facebook.com', 't.co', 'google.com', 'w3.org', 'apple.com',
       'twitter.com', 'wordpress.org', 'g.co', 'php.net', 'google.de',
       'mail.ru', 'cpanel.net', 'miitbeian.gov.cn', 'yandex.ru'],
      dtype='object')

In [70]:
for string in popular_typos:
    column_name = 'typos_' + string
    df[column_name] = df['typos'].str.contains(string).astype(int)

df.drop(columns=['typos'], inplace=True)

In [71]:
df.isna().sum().sort_values(ascending=False).head(15)

2gram                        181
1gram                         22
Name_Server_Count              0
Creation_Year_2015-now         0
Creation_Year_2009-2014        0
Creation_Year_2003-2008        0
Creation_Year_1997-2002        0
Creation_Year_before 1996      0
IP_Class_Invalid IP            0
IP_Class_Class C               0
IP_Class_Class B               0
IP_Class_Class A               0
Label                          0
Page_Rank                      0
typos_yandex.ru                0
dtype: int64

In [72]:
df['1gram'].unique()

array(["['g', 'o', 'o', 'g', 'l', 'e']",
       "['f', 'a', 'c', 'e', 'b', 'o', 'o', 'k']",
       "['y', 'o', 'u', 't', 'u', 'b', 'e']", ...,
       "['n', 'a', 'v', 'e', 'e', 'n', 'm', 'e', 'c', 'h', 'a', 'n', 'i', 'c', 'a', 'l']",
       "['s', 't', 'e', 'f', 'a', 'n', 'i', 'e', '-', 'b', 'o', 'l', 'e', 'm', 'a', 'n', 't']",
       "['a', 's', 'a', 'm', 'n', 'e', 't']"], dtype=object)

In [73]:
df['2gram'].unique()

array(["['go', 'oo', 'og', 'gl', 'le']",
       "['fa', 'ac', 'ce', 'eb', 'bo', 'oo', 'ok']",
       "['yo', 'ou', 'ut', 'tu', 'ub', 'be']", ...,
       "['na', 'av', 've', 'ee', 'en', 'nm', 'me', 'ec', 'ch', 'ha', 'an', 'ni', 'ic', 'ca', 'al']",
       "['st', 'te', 'ef', 'fa', 'an', 'ni', 'ie', 'e-', '-b', 'bo', 'ol', 'le', 'em', 'ma', 'an', 'nt']",
       "['as', 'sa', 'am', 'mn', 'ne', 'et']"], dtype=object)

In [74]:
df['3gram'].unique()

array(["['goo', 'oog', 'ogl', 'gle']",
       "['fac', 'ace', 'ceb', 'ebo', 'boo', 'ook']",
       "['you', 'out', 'utu', 'tub', 'ube']", ...,
       "['nav', 'ave', 'vee', 'een', 'enm', 'nme', 'mec', 'ech', 'cha', 'han', 'ani', 'nic', 'ica', 'cal']",
       "['ste', 'tef', 'efa', 'fan', 'ani', 'nie', 'ie-', 'e-b', '-bo', 'bol', 'ole', 'lem', 'ema', 'man', 'ant']",
       "['asa', 'sam', 'amn', 'mne', 'net']"], dtype=object)

In [75]:
df['char_distribution'].unique()

array(["defaultdict(<class 'int'>, {'e': 1, 'o': 2, 'g': 2, 'l': 1})",
       "defaultdict(<class 'int'>, {'e': 1, 'o': 2, 'w': 3, 'l': 1, 'g': 2})",
       "defaultdict(<class 'int'>, {'e': 1, 'c': 1, 'o': 2, 'f': 1, 'k': 1, 'a': 1, 'b': 1})",
       ...,
       "defaultdict(<class 'int'>, {'d': 1, 'n': 2, 'r': 2, 'w': 2, 'a': 1, 'l': 1, 'v': 1, 't': 1, 'i': 2, 'b': 1, 's': 1, 'h': 1, 'e': 5, 'o': 2, '0': 3, 'p': 3, 'f': 2})",
       "defaultdict(<class 'int'>, {'-': 1, 'n': 2, 'm': 1, 'a': 2, 'l': 1, 't': 2, 'i': 1, 'b': 1, 's': 1, 'e': 3, 'o': 1, 'f': 1})",
       "defaultdict(<class 'int'>, {'t': 1, 'n': 1, 'a': 2, 'm': 1, 's': 1, 'b': 1, 'w': 1, 'e': 2})"],
      dtype=object)

Przy większej ilości czasu i bardziej dokładnym etapie pre-processingu danych można zastanowić się w kolumnach 1gram, 2gram, 3gram nad poszukaniem najczęściej występujących stringów w listach i utworzyć kolumny z kategoriamy z przypisaniem wartości 0 lub 1. Największy sens miało by to prawdopodobnie w kolumnie 1gram, ponieważ jest tam najmniej unikalnych wartości - tyle ile liter w alfabecie - gorzej w przypadku 2gram i 3gram, ponieważ jest tam więcej różnych wartości, które mogą się nie powtarzać często. Podobnie w kolumnie char_distribution, choć po użyciu kolumny 1gram może być ona zbędna.

In [76]:
df = df.drop(['char_distribution', '1gram', '2gram', '3gram'],axis=1)

Zapisujemy plik csv w osobnym pliku.

In [77]:
df.to_csv('Cleaned_data.csv', sep=',', index=False, encoding='utf-8')